/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    color: #222222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
input {
	font: 1em 'PT Sans', sans-serif;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* FONTS */

/*
.fotorama__stage__frame--video {
	margin: 0 auto !important;
    width: 748px !important;
}*/

.full-hd,.slider-title { font-family: 'DINProBold', sans-serif; }

.content_container {
	margin: 0 40px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
html {
	font: 100% 'PT Sans', sans-serif;
}
body {
	background: #d7d7d7;
}
.wrapper {
	overflow: hidden;
	width: 1040px;	
	margin: 0 auto;
	margin-top: 40px;
	background: #fff;
}
/* ==========================================================================
   Transition-elems
   ========================================================================== */
.footer-nav-item a,
.gallery-item .likes,
.filter-container,
.date-trigger,
.chop-place,
.chop-arrow,
.buy-links a,
.cross img,
.mega-anim {
   	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
}
.filter-container {
	transition: all .1s ease;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-o-transition: all .1s ease;
	-ms-transition: all .1s ease;
}

/* ==========================================================================
   Header styles
   ========================================================================== */
  
.main-header {
	padding: 67px 40px 32px 38px;
	border-bottom: 2px solid #E4E4E4;
}

.nav-list {
	float: left;
}
.nav-item {
	margin: 0 0 0.41em;
}
.nav-item a {
	display: block;
	width: 100%;
	height: 100%;
	font: 1.125em 'DINProBold', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #222222;
}
.nav-item.active a {
	text-decoration: line-through;
}
	
.outer-links {
	float: right;
	margin-right: 1.7em;
}	
.outer-links li {
	width: 80px;
	height: 27px;
	margin: 0 0 .75em;
}
.outer-links li a {
	display: block;
	width: 100%;
	height: 100%;
}
.outer-links .panasonic {
	background: url(../img/main_sprite.png) no-repeat -291px -35px;
}
.outer-links .chop-chop {
	background: url(../img/main_sprite.png) no-repeat -291px 2px;
	height: 33px;
}
.outer-links .birdie {
	background: url(../img/main_sprite.png) no-repeat -293px -55px;
	height: 37px;
}		
.logo {
	width: 243px;
	height: 110px;
	margin: 0 auto;
	background: url(../img/logo.png) no-repeat 0 0;
	text-indent: -9999px;
	position: relative;
	top: -29px;
}
/* ==========================================================================
   Footer styles
   ========================================================================== */

.main-footer {
	background: #0d0d0d;
	padding: 25px 40px;
	font-size: .9375em;
	color: #777777;
}

.main-footer .line-submit {
	color: #777777;
}

.main-footer .sect-form {
	border-color: #777777;
}

.main-footer .line-input {
	color: #777777;
}

.footer-form .sect-form:-moz-placeholder { color: #777777 !important; }
.footer-form .sect-form::-webkit-input-placeholder { color: #777777 !important; }

.footer-nav {
	float: left;
	margin-top: 13px;
}
.footer-nav-item {
	float: left;
	margin: 0 1.2666em 0 0;
	line-height: 1.7em;
}
.footer-nav-item a {		
	border-bottom: 1px solid #fff;
	color: #fff;
	text-decoration: none;
}
.footer-nav-item a:hover {
	border-color: transparent;
}
.bottom-logo {
	width: 105px;
	height: 40px;
	margin: 0 auto;
	background: url(../img/footer-logo.png) no-repeat;
}
.bottom-outer-links {
	float: right;
	margin-top: 13px;
}
.bottom-outer-links li {
	float: left;
	width: 80px;
	height: 30px;
	margin: 0 .5em 0 0;
}
.bottom-outer-links li a {
	display: block;
	width: 100%;
	height: 100%;
}
.bottom-outer-links .panasonic {
	background: url(../img/main_sprite.png) no-repeat -371px -30px;
}
.bottom-outer-links .chop-chop {
	background: url(../img/main_sprite.png) no-repeat -371px 0;
}
.bottom-outer-links .birdie {
	background: url(../img/main_sprite.png) no-repeat -371px -60px;
}
.bottom-outer-links .rd_keds {
	width: 35px;
	background: url(../img/main_sprite.png) no-repeat -457px 0;
}

/* ==========================================================================
   Sections
   ========================================================================== */

.gallery {
	padding: 28px 40px 40px;
}
.sect-head {
	text-align: center;
}
.sect-desc {
	font: .875em/1.6em 'garamondbookcitalic', serif;
}
.sect-form-cont {
	height: 24px;
	margin: 20px auto 36px;
	text-align: center;
}
.sect-form-header {
	display: inline-block;
	font: 700 0.9em 'PT Sans',sans-serif;
}
.sect-form {
	display: inline-block;
	margin: 0 0 0 9px;	
	border-bottom: 1px solid #e5e5e5;
	color: #222;
}
.gallery .sect-form { height: 21px; }
.sect-form ::-webkit-input-placeholder {
   color: #222;
}

.sect-form :-moz-placeholder {
   color: #222; 
}

.sect-form ::-moz-placeholder {
   color: #222;  
}

.sect-form :-ms-input-placeholder {  
   color: #222;  
}
.sect-form .line-input {
	font-size: .85em;
	outline: none;
	padding-top: 3px;
}
.sect-form .line-submit {
	background: none;
	padding-right: 0;
}
.social-widgets {
	display: block;
	zoom: 1;
	width: 341px;
	height: 25px;
	margin: -8px auto 23px;
	text-align: center;
}
.social-item {
	display: inline-block;
	overflow: hidden;
	width: 31%;
	margin: 0 1% 0 1%;
	height: 100%;
}
/*---------------------------------Product page------------------------------- */
.product {
	padding: 25px 40px 40px;
}
.product-description {
	padding: 40px;
}
.product-item {
	position: relative;
	height: 537px;
	background: url(../img/product_item.jpg) 100% 100%/* / cover */ no-repeat;
}
.buy-links {
	position: absolute;
	top: 32px;
	left: 37px;
}
.buy-links a {
	float: left;
	clear: left;
	height: 22px;
	margin: 0 0 3px;
    border-bottom: 1px solid #FFF;    
    color: #FFFFFF;    
    font: 0.875em/1.8571em 'DINProBold',sans-serif;    
    text-decoration: none;
    text-transform: uppercase;
}
.buy-links a:hover {
	border-color: transparent;
}
.buy-form {
	position: absolute;
	left: 38px;
    bottom: 32px;
    width: 178px;
    color: #FFFFFF;
}
.buy-form .discount-form {
	margin: 1em 0;
    border-bottom: 2px solid #FFF;   
    font: 0.875em/1.8571em 'DINProBold',sans-serif;
    text-transform: uppercase; 
}
.buy-form-capt {
	width: 132px;
	margin: 0 0 1em;
	line-height: 1.87em;
}
.buy-input,
.buy-submit {
    background: transparent;
    border: none;
    color: #fff;
}
.buy-input {
	width: 77%;
	outline: none;
}
.buy-submit {
	float: right;
	width: 18px;
	padding: 0;
    font: 14px/1.8571em 'DINProBold',sans-serif;    
    text-transform: uppercase; 
}
.product-model,
.product-desc-column,
.product-short-desc {
    float: left;
    width: 22%;
    margin: 0 1.5%;
}
.product-model {
	position: relative;
	left: -15px;
}
.product-model,
.pxl-size-span {
    font: 148px/0.7em 'DINProBold', sans-serif;	
	letter-spacing: -8px;
}
.product-model-cont {
	position: relative;
	left: -15px;
	width: 219px;
	padding: 0 0 27px;    
    color: #222222;
}
.product-desc {
    float: left;
    width: 47%;
    margin: 0 1.5%;
}
.columns-container {
	margin: 0 0 4em;
}
.product-short-desc {
	font: 1.75em/1.3571em 'DINProBold',sans-serif;    
    text-transform: uppercase;
}
.product-desc,
.product-desc-column {
	font: .9375em/26px "PT Sans", sans-serif;
}
.product-desc-column.scheme,
.product-desc-column.pxl-size {	
	font: 1.125em/1.555em 'DINProBold', sans-serif;
	text-transform: uppercase;
}
.product-desc-column.pxl-size {
	text-align: left;
}
.pxl-size-span {
	display: block;
	width: 80%;
	margin: 0 auto 15px;
	padding: 10px 0;
    color: #222222; 
	letter-spacing: -20px;
	margin-left: 5px;
}
.product-desc-column.scheme img {
	display: block;
	margin: 0 0 1em;
}
/*------------------------------------Filters--------------------------------- */
.data-active {
	background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
    cursor: auto;
}
.f-date {	
	width: 25%;	
}
.f-salon {	
	width: 75%;	
}
.chosen-value {
	float: left;
}
.cross {
	display: none;
    float: right;
    font-size: 0.7em;
    line-height: 1.5em;
    margin: 0 0 0 0.7em;
}
.cross img {
	margin-bottom: 3px;
}
.cross img:hover {
	opacity: .5;
}
.mail-form-new {
	margin-top: 105px !important;
	font-size: 15px !important;
	width: auto !important;
}
.filter-container:after {
	content: '•';	
	position: absolute;
	top: 50%;
	right: 20px;	
	height: 1px;
	font-size: 2em;
	line-height: 1px;
	cursor: default;
}
.filter-container.filter-gray:after {
	color: #E3E3E3;
}
.f-date:hover .filter-container,
.f-salon:hover .filter-container {
	-moz-box-shadow: 0px 0px 3px 3px rgba(150, 150, 150, 0.2);
	-webkit-box-shadow: 0px 0px 3px 3px rgba(150, 150, 150, 0.2);
	box-shadow: 0px 0px 3px 3px rgba(150, 150, 150, 0.2);
}
.f-date:hover .date-table,
.f-salon:hover .chop-list {
	-moz-box-shadow: 0px 3px 3px 3px rgba(150, 150, 150, 0.2);
	-webkit-box-shadow: 0px 3px 3px 3px rgba(150, 150, 150, 0.2);
	box-shadow: 0px 3px 3px 3px rgba(150, 150, 150, 0.2);
}
.filters-item {
	position: relative;
	float: left;	
	font: .875em/1.5714em 'PT Sans', sans-serif;
}
.date-table {
	display: none;
	position: absolute;
	top: 99%;
	left: 0;
	z-index: 6;
	width: 99.3%;
	border: 1px solid #e3e3e3;
    background: #FFF; 
}
.date-table-header {
    font: 1em 'DINProBold', sans-serif;
    padding: 1em 0 .8em;
    text-align: center;
    text-transform: uppercase;
}
.date-list {
    margin: 0 auto;
    width: 88%;
    text-align: center;
}
.date-list.day-number {
    padding: 0 0 20px;
}
.date-item {
    display: inline-block;
    width: 12%;
    height: 28px;
    line-height: 28px;
    text-align: center;    
}
.date-item.day-name {
	font-weight: 700;
}
.date-trigger:hover {
	background: #222222;
	color: #fff;
	cursor: pointer;
} 
.chosen-salon,
.chosen-date {
	float: left;	
	font: 1.75em 'DINProBold', sans-serif;
	text-transform: uppercase;
}
.chop-list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 6;
	width: 99.8%;
	border-width: 0px 1px 0 1px;
	border-color: #e3e3e3;
	border-style: solid;
	background: #fff;
}
.chop-place {
	padding: 0 0 0 2em;	
    border-bottom: 1px solid #e3e3e3;
    color: #939393;
    font: 1.2em/2.17em 'DINProBold',sans-serif;    
    text-transform: uppercase;
    cursor: pointer;
}	
.chop-place:hover {
	color: #222;
}
.chop-place:hover .chop-arrow {
	opacity: 1;
}
.chop-place.active-salon {
	color: #222;
}
.chop-place.active-salon .chop-arrow {
	opacity: 1;
}
.chop-arrow img {
	margin-top: -3px;
}
.chop-arrow {
	display: inline-block;
	height: 30px;
	padding: 0 5px;
	opacity: 0;
    color: #222222;    
    font: 22px/1em 'PT Sans',sans-serif;
}

	.filter-container {
		position: relative;
		height: 55px;
		padding: 18px 0 28px 28px;
		border: 1px solid #e3e3e3;
		cursor: pointer;
		font-size: 13px;
	}
	.f-salon .filter-container {
		padding-left: 37px;
	}
	.filter-container:after {
		content: '•';	
		position: absolute;
		top: 53px;			
		height: 1px;
		font-size: 1.7em;
		line-height: 1px;
		cursor: default;
	}
	.f-date .filter-container:after {
		right: 8px;
	}
	.f-salon .filter-container:after {
		right: 28px;
	}
	.filter-container:hover {
		-moz-box-shadow: 0px 0px 3px 3px rgba(40, 40, 40, 0.2);
		-webkit-box-shadow: 0px 0px 3px 3px rgba(40, 40, 40, 0.2);
		box-shadow: 0px 0px 3px 3px rgba(40, 40, 40, 0.2);
	}
	.date-table table {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.table-header {
		text-transform: uppercase;
	}
	.week-1-list td:hover,
	.week-2-list td:hover {
		background: #222222S;
		color: #fff;
		cursor: pointer;
	} 
	.chosen-salon,
	.chosen-date {
		display: block;
		font: 2.1em/1em 'DINProBold', sans-serif;
		text-transform: uppercase;
	}
/*------------------------------Fancybox inner title-------------------------- */
.fancybox-custom-title {
    height: 50px;
    padding: 10px 0 0;
}
.fancybox-custom-title .slider-arrow {
	position: relative;
	top: auto;
	left: auto;
	float: left;
	margin: 0;
	padding: 13px 0;
}
.fancybox-photograph {
    float: right;
    min-width: 250px;
}
.fb-photograph-ava {
	width: 50px;
	float: left;
}
.fb-photograph-ava img {
	width: 100%;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px; 
	-khtml-border-radius: 100px; 
	border-radius: 100px;
}
.fb-photograhp-desc {
	margin: 0 0 0 70px;
	padding: 5px 0;
	font: .875em/1.5714em 'garamondbookcitalic', serif;
}
.fb-photograph-name {
	display: block;
	font: 1.2em 'DINProBold', sans-serif;
	text-transform: uppercase;
}

/*------------------------------------Gallery--------------------------------- */

/* Ajax loader */
.loader-container {
	margin-top: 3em;
	text-align: center;
}	
.loader-container img {
	display: inline-block;
}

.gallery-body {
	margin: 37px 0 0;
}

li.gallery-item {
	opacity: 0;
	position: relative;
	width: 25%;
}

li.gallery-item .image-container {
	height: 320px;
	background-size: cover;
}

li.gallery-item:hover {
	z-index: 5;
}
li.gallery-item .image-container {
	-webkit-transition: all .1s ease;
	   -moz-transition: all .1s ease;
		-ms-transition: all .1s ease;
	     -o-transition: all .1s ease;
    		transition: all .1s ease;
}
li.gallery-item:hover .image-container {
	-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	     -o-transform: scale(1.05);
	        transform: scale(1.05);	

	-webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
.fancybox .state {
	bottom: 0;
	height: auto;
}
.fancybox-inner .state.normal-state,
.fancybox-inner .state.vote-state,
.fancybox-inner .state.thank-email-state, 
.fancybox-inner .state.thank-vote-state,  
.fancybox-inner .state.email-state {
	position: absolute;	
}

.fancybox .normal-state .social-buttons-container {
    bottom: 13px;
    padding: 0;
    position: absolute;
    right: 15px;
    width: 230px;
}
.social-button.vkontakte {
    float: left;
    margin: 0 15px 0 0;
    width: 96px;
}
.social-button.facebook {
    float: left;
    margin: 0 15px 0 0;
    width: 96px;
}

.state {
	position: relative;
	top : 0; left : 0;
	width: 100%;
	height: 100%;
}
.cond-thank-prods {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.cond-thank-item {
    display: inline-block;
    text-transform: none;
    width: 30%;
}
.cond-thank-capt {
	font: .9em 'PT Sans', sans-serif;
}
.cond-thank-item  img {
    height: 90px;
    margin: 10px 0;
    max-width: 90px;
}
.cond-thank-name {
    font: 2em 'dinprobold', sans-serif;
}
.fancybox .cond-thank-name { font: 2em 'DINProMedium', sans-serif; }
.cond-thank-desc {
    font: 1em 'garamondbookcitalic',serif;
    margin: 10px 0;
    text-transform: none;
}
.fancybox .cond-thank-desc { font: 1em/1.4em 'garamondcitalic',serif; } 
.cond-thank-item {
    display: inline-block;
    text-transform: none;
    width: 30%;
}
/*  -----------------------------------------------------------------------
	Состояние : обычное 
*/
.state.normal-state { 
	cursor: pointer;
}
.normal-state .likes {
	position: absolute;
    bottom: 13px;
    left: 38%;    
    font: 1.25em 'DINProBold', sans-serif;
    color: #fff;    
}

.state-cross {
	position: absolute;
	top : 7px;
	right: 10px;
	cursor: pointer;
	font-weight: 700;
	font-size: 20px;
}
.fancybox-close.state-cross {
	right: 3px;
	background: none;
	color: #454545;
	text-decoration: none;
	font-size: 24px;	
}
/* Состояние: все, кроме обычного! */
.state.vote-state, 
.state.thank-email-state, 
.state.thank-vote-state,  
.state.email-state {
	position: relative;
	color : white;
	top: 0; left : 0;
	display: none;
	background-color: rgba(0,0,0,0.5); 
	z-index : 4;
}

.fancybox .state.thank-email-state, 
.fancybox .state.email-state {
	background-color: rgba(34,34,34,0.95);
} 

.state.vote-state {
	position: absolute;
	cursor: pointer;
}

.fancybox-inner {
	min-width: 400px;
	overflow: hidden !important;
}

.thank-email-state .condition-container,
.thank-vote-state .condition-container {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}
.thank-email-state .condition-container {
    margin: -36px 0 0;
}
.thank-vote-state .condition-container {
	margin: -27px 0 0;
}
.email-state .condition-container {	
	text-align: center;
}
.email-state .condition-container .cond-head {
    font-size: 0.85em;
    line-height: 1.5em;
    padding: 3.5em 0 3em;
}
.email-state .condition-container .discount-form {
	border-bottom: 2px solid #fff;
}
.email-state .condition-container .buy-input {
	float: left; width: 80%;
}
.fancybox .email-state .condition-container .buy-input {
	width: 87%;
}
.email-state .condition-container .buy-submit {
    float: right;
    width: 24px;
}
.cond-head {
	margin: 0 0 0.6em;
	font: 1.125em/1.2em 'DINProMedium',sans-serif;
	text-transform: uppercase;
	color: #fff;
}
.fancybox .cond-head { font: 1.725em/1.2em 'DINProBold',sans-serif; }
.cond-check-email {
    font: 0.875em/1.2857em 'garamondcitalic', serif;
}
.fancybox .email-state .cond-check-email {
    font: 1em 'DINProMedium',sans-serif;
    margin: 5em auto 1em;
    text-transform: uppercase;
    width: 250px;
}
.fancybox .discount-form {
	width: 250px;
	margin: 0 auto;
}
.thank-email-state {
	text-align: center;
}
.vote-state .likes-container {
	position: absolute;
	top: 0; 
	margin-top: 122px;
	left : 0;
	width: 100%;
	height: auto;

    font: 2em 'DINProBold', sans-serif;
	text-transform: uppercase;
	color : #fff;
	text-align: center;
}
.fancybox .likes-container {
	position: absolute;
    font: 2em 'DINProBold', sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
    bottom: 9px;
    height: 45px;
    left: 19px;
    top: auto;
    width: auto;
}
.fancybox .likes-thumb,
.vote-state .likes-thumb{
    background: url("../img/big_idle.png") no-repeat scroll 0 12px;
    height: 50px;
    width: 23px;
}
.vote-state .social-buttons-container,
.fancybox .social-buttons-container {
	position: absolute;
	width: 100%;
	bottom: 10px;
	padding: 0;
}
.vote-state  .social-button,
.fancybox .social-button {
	color : #fff;
	cursor: pointer;    
    font: .9em/2.9em 'DINProBold', sans-serif;
	text-transform: uppercase;
	padding: 0;
	margin: 5px 1px 0 15px;
}
.social-button {
	overflow: hidden;
}
.fb-logo, .vk-logo {
    float: left;
    width: 8px;
    height: 42px;
    margin: 0 15px 0 0;
    padding: 0 20px 0 18px;
    font: 700 1.7em/1.8em 'PT Sans', sans-serif;
    text-transform: none;    
    -moz-box-shadow: -2px 0px 5px -5px rgba(40, 40, 40, .4) inset;
	-webkit-box-shadow: -2px 0px 5px -5px rgba(40, 40, 40, .4) inset;
	box-shadow: -2px 0px 5px -5px rgba(40, 40, 40, .4) inset;
}
.fb-logo {
	background: #41568D;
}
.vk-logo {
    background: #4E6E94;
    font-size: 1.5em;
    line-height: 1.9em;
}
.likes-count,
.likes-delim {
	display: inline-block;
}
.likes-thumb {
	display: inline-block;
	width: 25px;
	height: 26px;
	background: url("../img/main_sprite.png") no-repeat scroll -12px -124px rgba(0, 0, 0, 0);
	cursor: pointer;
	vertical-align: top;
}
.gallery-item img {
	width: 100%;
	height: auto;
}
.photograph {
	padding: 1em 1.9em;
	background: #f0f0f0;
	text-align: center;
}
.camera {
	padding: 1em 0;
	background: #f0f0f0;
	text-align: center;
}
.photograph .desc,
.camera .desc {
	font: 1em/1.375em 'DINProBold', sans-serif;
	text-transform: uppercase;
}
.photograph .desc {	
	padding: 0 1.6em;
}
.ph-avatar,
.camera-avatar {
	width: 118px;
	margin: .3em auto;
}
.ph-avatar img {
	width: 100%;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px; 
	-khtml-border-radius: 100px; 
	border-radius: 100px;
}
.ph-caption {
	font: 1.125em/2.111em 'DINProBold', sans-serif;
	text-transform: uppercase;
}
.quote {
    font: 4.5em/1.4em 'austin_cyrfat', sans-serif;
    height: 0.7em;
}
.bottom-quote {
	line-height: 1em;
}
.camera-name,
.sign,
.dc-form-capt {
	font: .875em/1.2857em 'garamondbookcitalic', serif;
}
.camera-name {
    margin: .7em 0;
}
.camera-name,
.camera .desc {	
	margin: 1em 0;
    padding: 0 1.9em;
}
.sign {
	padding: 0 2em;
}
.dc-form-capt {
    margin: .5em 0;
}
.camera .dc-form-capt {
    margin: 0.5em 2em;
}
.discount-form {
	margin: 0 1.9em 1em;
    border-bottom: 1px solid #444;    
}
.fancybox .discount-form { margin-top: 1em; }
.line-input {
    background: transparent;
    border: none;
    float: left;
    width: 75%;
}
.line-submit {
    border: none;
    font: 1em 'DINProBold', sans-serif;
}
.gallery .line-submit { font-size: 0.85em; background: none; }


.full-hd {
	font-size: 174px;
	text-transform: uppercase;
	letter-spacing: -18px;
	margin-left: -13px;
}

.slider-wrap {
	
}

.slider-container {
	background-color: #ededed;
	overflow: hidden;
	margin-top: -78px;
}

.slider-title {
	text-transform: uppercase;
	font-size: 27px;
	width: 600px;
	margin-top: 55px;
	line-height: 38px;
	margin-bottom: 8px;
}

.slider-under-block {
	left: 0;
	position: relative;
	width: 25%;
	float: left;
}

.slider-under-block-inside {
	margin-left: 20px;
	margin-right: 20px;
}

.slider-in {
	position: relative;
	margin: 0 20px;
}

.slider-text {
	position: relative;
	min-height: 525px;
}

.slider {
	text-align: center;
}

.slideshow .slider-arrow {
	font-family: 'DINProMedium';
	position: absolute;
	font-size: 14px;
	left: 50%;
	text-align: center;
	margin-left: -75px;
	width: 150px;
	margin-top: -11px;
}

.slideshow {
	position: relative;
	top: -155px;
	margin-bottom: -150px;
}

.current-slide,.all-slides {
	font-family: 'DINProMedium';
	font-size: 13.33px;
}

.slider-to-left,.slider-to-right {
	height: 24px;
	width: 47px;
	outline: 0 none;
}

.fancy-to-left {
	background: url('../img/slider/arrow-left.png') no-repeat;
	height: 47px;
	width: 34px;
	float: left;
	margin-right: 14px;
}

.fancy-to-right {
	background: url('../img/slider/arrow-right.png') no-repeat right top;
	height: 47px;
	width: 34px;
	float: right;
	margin-left: 14px;
}


.slider-to-left:active 	{ outline: none; }
.slider-to-right:active { outline: none; }
.slider-to-left:focus 	{ outline: none; }
.slider-to-right:focus 	{ outline: none; }


.slider-to-left {
	background: url('../img/slider/arrow-left.png') no-repeat;
	float: left;
}

.slider-to-right {
	background: url('../img/slider/arrow-right.png') no-repeat;
	float: right;
}

.slider-to-left.white-arrow {
	background: url('../img/expert/arrow-left.png') no-repeat;
	width: 32px;
	margin-right: 5px;
}

.slider-to-right.white-arrow {
	background: url('../img/expert/arrow-right.png') no-repeat;
	width: 32px;
	margin-left: 5px;
}

.fotorama {
	display: inline-block;
}

.slider-content {
	text-align: center;
	height: 420px;
}

.slider-content-block > div {
	display: inline-block;
}

.slider-content-block img {
	max-height: 420px;
}

.slider-content .no-display {
	display: none;
}

.slider-nav {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 25px;
}

.slider-nav li {
	float: left;
}

.slider-nav a {
	font-family: 'DINProMedium';
	font-size: 14px;
	margin: 0 8px;
	text-transform: uppercase;
	color: #222222;
	border-bottom: 1px dotted;
	text-decoration: none;
	outline: 0 none;
}

	.slider-nav a.active {
		color: #727272;
		border-bottom: none;
	}
	
.slide-left-text {
	font-family: 'DINProBold', sans-serif;
	font-size: 145px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	letter-spacing: -8px;
}

.slide-left-line {
	display: inline-block;
	height: 16px;
	width: 0px;
	background: #222222;
	margin-left: 40px;
}

.right-black-line {
	display: inline-block;
	height: 16px;
	width: 0px;
	background: #222222;
	margin-left: 22px;
	display: block;
}

.anim-left-black-line {
	height: 16px;
	width: 0px;
	background: #222222;
}

.slide-texts {
	height: 170px;
	margin-left: 28px;
	margin-top: -108px;
	overflow: hidden;
}

.slider-text-title {
	font-family: 'DINProBold', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	margin: 10px 0;
}

.slider-under-block-inside {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 26px;
}

.expert-slideshow {
	color: #fff;
}

/* ==========================================================================
 * Onload animation classes
   ========================================================================== */
.top_dir,
.right_dir,
.bottom_dir,
.left_dir {
	transition: all 1s ease, opacity 2s ease;
	-webkit-transition: all 1s ease, opacity 2s ease;
	-moz-transition: all 1s ease, opacity 2s ease;
	-o-transition: all 1s ease, opacity 2s ease;
	-ms-transition: all 1s ease, opacity 2s ease;
}
.w_fade {
	opacity: 0;
}
.top_dir {
	-webkit-transform: translate3d(0px, 500px, 0px); 
	-ms-transform: translate(0px, 500px); 
	transform: translate(0px, 500px);
	-moz-transform: translate(0px, 500px);
	-o-transform: translate(0px, 500px);
}
.right_dir {
	-webkit-transform: translate3d(1000px, 0px, 0px); 
	-ms-transform: translate(1000px, 0px); 
	transform: translate(1000px, 0px);
	-moz-transform: translate(1000px, 0px);
	-o-transform: translate(1000px, 0px);
}
.bottom_dir {
	-webkit-transform: translate3d(0px, -1000px, 0px); 
	-ms-transform: translate(0px, -1000px); 
	transform: translate(0px, -1000px);
	-moz-transform: translate(0px, -1000px);
	-o-transform: translate(0px, -1000px);
}
.left_dir {
	-webkit-transform: translate3d(-500px, 0px, 0px); 
	-ms-transform: translate(-500px, 0px); 
	transform: translate(-500px, 0px);
	-moz-transform: translate(-500px, 0px);
	-o-transform: translate(-500px, 0px);
}

.main-header.right_dir {
	-webkit-transform: translate3d(50px, 0px, 0px); 
	-ms-transform: translate(50px, 0px); 
	transform: translate(50px, 0px);
	-moz-transform: translate(50px, 0px);
	-o-transform: translate(50px, 0px);
}
.main-header.left_dir {
	-webkit-transform: translate3d(50px, 0px, 0px); 
	-ms-transform: translate(50px, 0px); 
	transform: translate(50px, 0px);
	-moz-transform: translate(50px, 0px);
	-o-transform: translate(50px, 0px);
}

.anim-from-bottom {
	position: relative;
	top: 130px;
}

.product-model-cont {
	margin-top: -25px;
    overflow: hidden;
    padding-top: 25px;
    width: 260px;
}

.mega-anim {
	position: relative;
	top: -350px;
	text-align: center;
}

.product-desc-column.pxl-size {
	overflow: hidden;
}


/*
 * RULES
 */

.rules {
	position: absolute;
	background: #fff;
	width: 1040px;
	z-index: 11;
	display: none;
}

.rules-block {
	width: 50%;
	float: left;
	padding-top: 20px;
}

.rules-title {
	font: 16px 'DinProBold', sans-serif;
	text-transform: uppercase;
}

.rule-number {
	font: 62px 'DINProBlack', sans-serif;
	margin-left: 40px;
}

.rule-text {
	font: 18px 'DinProBold', sans-serif;
	text-transform: uppercase;
	margin-left: 20px;
    margin-top: 30px;
}

.rules-inter {
	font: 15px/26px 'PT Sans', sans-serif;
}

.one-rule {
	overflow: hidden;
}

.one-rule div {
	float: left;
}

.rules-close {
	font: 14px 'PT Sans', sans-serif;
	text-align: center;
	cursor: pointer;
	margin: 15px 0;
}

.rules-close img {
	display: inline-block;
	margin-right: 9px;
	margin-top: -3px;
}

/*
 * 
 */

.buy-btn {
	display: block;
	background: #161616;
	color: #fff;
	font: 15px 'DinProBold', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	width: 176px;
	height: 38px;
	line-height: 38px;
	margin: 1em auto;
}

/*
 * EXPERT
 */

.expert {
	margin: 0 40px;
	background: url('../img/expert/back.png') no-repeat;
	padding-top: 135px;
	padding-bottom: 135px;
}

.expert-top {
	font: 18px 'DINProMedium', sans-serif;
	text-transform: uppercase;
	padding-left: 5px;
	padding-right: 5px;
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	display: inline-block;
}

.expert-big-title {
	font: 97px 'DinProBold', sans-serif;
	color: #fff;
	text-transform: uppercase;
	line-height: 97px;
}

.expert-big-desc {
	font: 18px 'DINProMedium', sans-serif;
	text-transform: uppercase;
	margin-left: 40px;
	color: #fff;
	margin-top: 20px;
	width: 300px;
}

.expert-right-block {
	margin-left: 50%;
}

.expert-quote {
	font: 36px 'DINProMedium', sans-serif;
	text-transform: uppercase;
	color: #fff;
	width: 300px;
	text-align: center;
}

.expert-quote .quote {
	font-size: 56px;
}

.expert-three {
	margin-top: 50px;
}

.expert-text-block {
	width: 25%;
	float: left;
}

.expert-text-in {
	margin: 15px 10px 15px 20px;
	color: #fff;
	font: 15px/26px 'PT Sans', sans-serif;
}

.expert-text-bold {
	font: 15px 'DINProBold', sans-serif;
	text-transform: uppercase;
}

.footer-form {
	margin-top: 50px;
}

.expert-slideshow {
	margin-top: -57px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
