/* header style changes */
.main-header {
  padding: 54px 40px 15px 38px;
}

/* Logo old style with changes */
.logo {
  position: relative;
  top: -8px;
  left: 22px;
  width: 243px;
  height: 110px;
  margin: 0 auto;
  background: url(../img/logo.png) no-repeat 0 0;
  text-indent: -9999px;  
}

/* Logos from header */
.prizes .chop-chop {
  background: url(../img/main_sprite.png) no-repeat -291px 2px;
  height: 33px;
}
.prizes .birdie{
  background: url(../img/main_sprite.png) no-repeat -293px -55px;
  height: 37px;
}		

/* Footer old style with changes */
.main-footer {
  padding: 25px 40px 43px;
  background: #0d0d0d;	
  font-size: .9375em;
  color: #777777;
}
.footer-nav-item {
  float: left;
  margin: 1px 1.3666em 0 0;
  font-size: 13px;
  line-height: 1.7em;
}
.social-widgets {
  display: block;
  zoom: 1;
  width: 341px;
  height: 25px;
  margin: 11px auto 23px;
  text-align: center;
}

/*---------------------------------Winners page------------------------------- */
.winners-wrpr .main-header {
  border-bottom: 2px solid #e2e2e2;
}
.winners {
  padding: 74px 0 44px;
}
.b_wings {
  position: relative;
}
.b_wings:before {
  content: "";
  position: absolute;
  top: 17px;
  left: -73px;
  width: 59px;
  height: 78px;
  background: url(../img/main_sprite.png) no-repeat -124px -86px;
}
.b_wings:after {
  content: "";
  position: absolute;
  top: 17px;
  right: -73px;
  width: 59px;
  height: 78px;
  background: url(../img/main_sprite.png) no-repeat -185px -86px;
}
.winners-adv {
  float: left;
  margin: 0 0 0 106px;
  font: 81px/1.18em 'DINProBold', sans-serif;
  text-transform: uppercase;	
}
.winners-gift {
  float: right;
  margin: 0 84px 0 0;
  width: 236px;
}
.winners-gift .camera {
  background: #fff;
}
.winners-gift .camera .desc {
  margin: 3.2em 0 0;
  padding: 0;
  font-size: .875em;
  line-height: 1.55em;
}
.winners-gift .camera .camera-avatar {
  margin: 1em auto 1em;
}
.winners-gift .camera .ph-caption > img {
  display: inline-block;
  margin: -13px 0 0;
  height: 17px;
}
/*----------------------------About winners section--------------------------- */

.about-winners {
  padding: 0 0 24px;
  background: #ededed;
}
.boss-quote {
  position: relative;
  width: 960px;
  margin: 0 40px;
  padding: 35px 0 28px;
  text-align: center;
}
.boss-quote.top-quote {
  padding: 32px 0 29px;
  border-bottom: 1px solid #ccc;
}
.boss-quote.bottom-quote {
  padding: 30px 0 28px;
  border-top: 1px solid #ccc;
}
.boss-quote.top-quote:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 1;
  width: 15px;
  height: 13px;
  margin: 0 0 0 -4px;	
  background: url(../img/main_sprite.png) -319px -147px no-repeat; /* Делаем уголки картинками для кроссбраузерности */
}
.boss-quote.bottom-quote:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  z-index: 1;
  width: 13px;
  height: 12px;
  margin: 0 0 0 -17px;	
  background: url(../img/main_sprite.png) -324px -130px no-repeat;
}
.boss-quote > img {
  margin: 0 .85em;
}
.boss-quote.bottom-quote .boss-quote-head {
  width: 245px;
} 
.boss-quote-head,
.boss-quote-body {
  display: inline-block;
  vertical-align: middle;
}
.boss-quote-head {
  font: .875em/1.4285em 'DINProBold', sans-serif;
  text-transform: uppercase;
  text-align: right;
}
.boss-quote-body {
  margin: 5px 0 0;
  font: 0.875em/1.4857em 'garamondbookcitalic',serif;
}
.boss-quote.bottom-quote .boss-quote-body {
  text-align: left;
}
.winners-list {
  width: 960px;
  margin: 0 auto;
}
.winners-item {
  float: left;
  width: 320px;
}
.winner-block .fancybox,
.finalists-item .fancybox {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.winner-block {
	position: relative;
	height: 428px;
}
.winner-block .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, .5);
  
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
}
.winner-block:hover .hover {
  opacity: 1;
}
.winner-block .hover {
  color: #FFFFFF;
  font: 2em 'DINProBold',sans-serif;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}
.winner-block > img {
  width: 100%;
  height: 100%;
}
.winner-block .hover .likes-thumb {
  position: relative;
  background: url("http://lamcdn.net/specials.lookatme.ru/lumix/assets/big_idle-abd2229f57eee3652975f792394bd65d.png") no-repeat scroll 0 12px rgba(0, 0, 0, 0);
  height: 50px;
  width: 24px;
}
.winner-block .hover .like-container {
	left: 0;
	width: 100%;
	margin-top: 188px;
}
.winner-top-quote,
.winner-bottom-quote {
  height: 202px;
  padding: 21px 0 26px;
  text-align: left;
  font: 14px/20px 'PT Sans', sans-serif;
}
.winner-bottom-quote {
  padding: 25px 0 24px;
}
/*------------------------------Finalists section----------------------------- */

.finalists {
  padding: 108px 0 0;
}
.finalists header {
  padding-bottom: 34px;
}
.finalists header h2 {
  float: left;
  margin: 0 0 0 52px;
  font: 50px/55px 'DINProBold', sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.s_wings {
  position: relative;
}
.s_wings:before {
  content: "";
  position: absolute;
  top: 12px;
  left: -44px;
  width: 37px;
  height: 46px;
  background: url(../img/main_sprite.png) -245px -116px no-repeat;
}
.s_wings:after {
  content: "";
  position: absolute;
  top: 12px;
  right: -44px;
  width: 37px;
  height: 46px;
  background: url(../img/main_sprite.png) -281px -116px no-repeat;
}
.finalists-desc {
  float: right;
  width: 320px;
  margin: 0 42px 0 0;
  text-align: center;
  text-transform: uppercase;
  font: 1.125em/1.5556em 'DINProBold', sans-serif;
}
.finalists-list {
  width: 960px;
  margin: 0 auto;
}
.finalists-item {
  position: relative;
  float: left;
  width: 137px;
}
.finalists-item img {
  width: 100%;
  height: 100%;
}
.prizes {
  text-align: center;
}
.prizes .chop-chop,
.prizes .birdie {
  display: inline-block;
  width: 84px;
  margin: 0 2em .3em;
}
.prizes .chop-chop {
  margin: 0 2em .5em;
}
.prizes .chop-chop a,
.prizes .birdie a{
  display: block;
  width: 100%;
  height: 100%;
}
.prizes-content {
  display: inline-block;
  padding: 29px 0 121px;
  text-transform: uppercase;
  font: 1.125em/1.5556em 'DINProBold', sans-serif;
}
/*----------------------------Vote-winners section--------------------------- */
.vote-winners {
  padding: 0 0 67px;
  background: #ededed;
}
.vote-winners h2 {
  margin: 0 38px;
  padding: 23px 0 16px;
  border-bottom: 1px solid #b2b2b2;
  font: 32px/55px 'DINProBold', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
}
.vote-winners-list {
  width: 960px;
  margin: 50px auto 0;
}
.vote-winners-item {
  float: left;
  width: 320px;
  text-align: center;
}
.voter-email {
  position: relative;
  display: inline-block;
  margin: 0 0 10px;
  font: 1.1em/1.5714em 'DINProBold', sans-serif;
  text-transform: uppercase;
}
.voter-name {
  position: relative;
  display: inline-block;
  margin: 0 0 23px;
  font: 1.125em/1.3333em 'DINProBold', sans-serif;
  text-transform: uppercase;
}
.voter-email:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -43px;
  width: 30px;
  height: 40px;
  background: url(../img/main_sprite.png) -337px -123px no-repeat;
}
.voter-email:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -43px;
  width: 30px;
  height: 40px;
  background: url(../img/main_sprite.png) -367px -123px no-repeat;
}
.voter-prize {
  height: 106px;
}
.voter-prize.short-img {
	margin: 9px 0 0;
	height: 97px;
}
.prize-caption {
  margin: 22px 0 0;
  font: 0.875em/1.2857em 'garamondbookcitalic',serif;
}
.deleted {
	position: relative;
	top: 5px;
	display: inline-block;
	width: 17px;
	height: 20px;
	margin: 0 2px;
	background: url(../img/cut.png) no-repeat;
}
/*--------------------------------Thanks section------------------------------ */

.thanks-content {
  padding: 100px 0 108px;
  font: 32px/55px 'DINProBold', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
}
/*--------------------------------hover styles------------------------------ (заменить)*/
.finalists-item .hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    height: 128px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease-in-out 0s;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.finalists-item:hover .hover {
	opacity: 1;
}

.finalists-item .hover .like-container {
  color: #FFFFFF;
  font: 19px/19px 'DINProBold',sans-serif;
  height: auto;
  left: 0;
  margin-top: 81px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

.finalists-item .likes-thumb {
  background: url("http://lamcdn.net/specials.lookatme.ru/lumix/assets/main_sprite-67e1a295cf5094162d7e723c5e1d13f3.png") no-repeat scroll -12px -124px rgba(0, 0, 0, 0); /*your address*/
  cursor: pointer;
  display: inline-block;
  height: 26px;
  margin: -3px 0 0 3px;
  vertical-align: top;
  width: 25px;
}

/* fix */
.fancybox-close.state-cross {
  top: 2px;
}
.outer-links li {
	margin: 1em 0 .75em;
}
.bottom-outer-links .chop-chop {
	position: relative;
	top: -3px;
	margin: 0 0px 0px 8px;	
}
.main-footer {
	padding: 25px 35px 43px;
}
.bottom-outer-links .rd_keds {
	margin: 0;
}
.bottom-outer-links .birdie {
	margin: 0 .5em 0 .75em;
}
