/* header style changes */
.main-header {
  padding: 54px 40px 15px 38px;
}

/* Logo old style with changes */
.logo {
  position: relative;
  top: -8px;
  left: 22px;
  width: 243px;
  height: 110px;
  margin: 0 auto;
  background: url(../img/logo.png) no-repeat 0 0;
  text-indent: -9999px;  
}

/* Logos from header */
.prizes .chop-chop {
  background: url(../img/main_sprite.png) no-repeat -291px 2px;
  height: 33px;
}
.prizes .birdie{
  background: url(../img/main_sprite.png) no-repeat -293px -55px;
  height: 37px;
}		

/* Footer old style with changes */
.main-footer {
  padding: 25px 40px 43px;
  background: #0d0d0d;	
  font-size: .9375em;
  color: #777777;
}
.footer-nav-item {
  float: left;
  margin: 1px 1.3666em 0 0;
  font-size: 13px;
  line-height: 1.7em;
}
.social-widgets {
  display: block;
  zoom: 1;
  width: 341px;
  height: 25px;
  margin: 11px auto 23px;
  text-align: center;
}

/*---------------------------------Winners page------------------------------- */
.winners-wrpr .main-header {
  border-bottom: 2px solid #e2e2e2;
}
.winners {
  padding: 74px 0 44px;
}
.b_wings {
  position: relative;
}
.b_wings:before {
  content: "";
  position: absolute;
  top: 17px;
  left: -73px;
  width: 59px;
  height: 78px;
  background: url(../img/main_sprite.png) no-repeat -124px -86px;
}
.b_wings:after {
  content: "";
  position: absolute;
  top: 17px;
  right: -73px;
  width: 59px;
  height: 78px;
  background: url(../img/main_sprite.png) no-repeat -185px -86px;
}
.winners-adv {
  float: left;
  margin: 0 0 0 106px;
  font: 81px/1.18em 'DINProBold', sans-serif;
  text-transform: uppercase;	
}
.winners-gift {
  float: right;
  margin: 0 84px 0 0;
  width: 236px;
}
.winners-gift .camera {
  background: #fff;
}
.winners-gift .camera .desc {
  margin: 3.2em 0 0;
  padding: 0;
  font-size: .875em;
  line-height: 1.55em;
}
.winners-gift .camera .camera-avatar {
  margin: 1em auto 1em;
}
.winners-gift .camera .ph-caption > img {
  display: inline-block;
  margin: -13px 0 0;
  height: 17px;
}
/*----------------------------About winners section--------------------------- */

.about-winners {
  padding: 0 0 24px;
  background: #ededed;
}
.boss-quote {
  position: relative;
  margin: 0 76px;
  padding: 35px 0 28px;
  text-align: center;
}
.boss-quote.top-quote {
  padding: 32px 0 29px;
  border-bottom: 1px solid #ccc;
}
.boss-quote.bottom-quote {
  padding: 39px 0 50px;
  border-top: 1px solid #ccc;
}
.boss-quote.top-quote:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 1;
  width: 17px;
  height: 18px;
  margin: 0 0 0 -4px;	
  background: url(../img/main_sprite.png) -319px -144px no-repeat; /* Делаем уголки картинками для кроссбраузерности */
}
.boss-quote.bottom-quote:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  z-index: 1;
  width: 17px;
  height: 18px;
  margin: 0 0 0 -22px;	
  background: url(../img/main_sprite.png) -321px -127px no-repeat;
}
.boss-quote > img {
  margin: 0 .85em;
}
.boss-quote.bottom-quote .boss-quote-head {
  width: 245px;
} 
.boss-quote-head,
.boss-quote-body {
  display: inline-block;
  vertical-align: middle;
}
.boss-quote-head {
  font: .875em/1.4285em 'DINProBold', sans-serif;
  text-transform: uppercase;
  text-align: right;
}
.boss-quote-body {
  margin: 5px 0 0;
  font: 0.875em/1.4857em 'garamondbookcitalic',serif;
}
.winners-list {
  width: 960px;
  margin: 0 auto;
}
.winners-item {
  float: left;
}
.winner-top-quote,
.winner-bottom-quote {
  height: 96px;
  padding: 21px 0 26px;
  text-align: center;
  text-transform: uppercase;
  font: 1.125em/1.35em 'DINProBold', sans-serif;
}
.winner-bottom-quote {
  padding: 25px 0 24px;
}
/*------------------------------Finalists section----------------------------- */

.finalists {
  padding: 103px 0 0;
}
.finalists header {
  padding-bottom: 34px;
}
.finalists header h2 {
  float: left;
  margin: 0 0 0 74px;
  font: 50px/55px 'DINProBold', sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.s_wings {
  position: relative;
}
.s_wings:before {
  content: "";
  position: absolute;
  top: 12px;
  left: -44px;
  width: 37px;
  height: 46px;
  background: url(../img/main_sprite.png) -245px -116px no-repeat;
}
.s_wings:after {
  content: "";
  position: absolute;
  top: 12px;
  right: -44px;
  width: 37px;
  height: 46px;
  background: url(../img/main_sprite.png) -281px -116px no-repeat;
}
.finalists-desc {
  float: right;
  width: 320px;
  margin: 0 42px 0 0;
  text-align: center;
  text-transform: uppercase;
  font: 1.125em/1.5556em 'DINProBold', sans-serif;
}
.finalists-list {
  width: 960px;
  margin: 0 auto;
}
.finalists-item {
  float: left;
  width: 137px;
  height: 185px;
}
.finalists-item img {
  width: 100%;
  height: 100%;
}
.prizes {
  text-align: center;
}
.prizes .chop-chop,
.prizes .birdie {
  display: inline-block;
  width: 84px;
  margin: 0 2em .3em;
}
.prizes .chop-chop {
  margin: 0 2em .5em;
}
.prizes .chop-chop a,
.prizes .birdie a{
  display: block;
  width: 100%;
  height: 100%;
}
.prizes-content {
  display: inline-block;
  padding: 29px 0 130px;
  text-transform: uppercase;
  font: 1.125em/1.5556em 'DINProBold', sans-serif;
}
/*----------------------------Vote-winners section--------------------------- */
.vote-winners {
  padding: 0 0 69px;
  background: #ededed;
}
.vote-winners h2 {
  margin: 0 38px;
  padding: 23px 0 16px;
  border-bottom: 1px solid #b2b2b2;
  font: 32px/55px 'DINProBold', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
}
.vote-winners-list {
  width: 960px;
  margin: 26px auto 0;
}
.vote-winners-item {
  float: left;
  width: 320px;
  text-align: center;
}
.voter-email {
  margin: 0 0 10px;
  font: .875em/1.5714em 'DINProBold', sans-serif;
  text-transform: uppercase;
}
.voter-name {
  position: relative;
  display: inline-block;
  margin: 0 0 23px;
  font: 1.125em/1.3333em 'DINProBold', sans-serif;
  text-transform: uppercase;
}
.voter-name:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -43px;
  width: 30px;
  height: 40px;
  background: url(../img/main_sprite.png) -337px -123px no-repeat;
}
.voter-name:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -43px;
  width: 30px;
  height: 40px;
  background: url(../img/main_sprite.png) -367px -123px no-repeat;
}
.voter-prize {
  height: 106px;
}
.prize-caption {
  margin: 22px 0 0;
  font: 0.875em/1.2857em 'garamondbookcitalic',serif;
}
/*--------------------------------Thanks section------------------------------ */

.thanks-content {
  padding: 111px 0 99px;
  font: 32px/55px 'DINProBold', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
}